[submodule "submodules/prodbox"]
	path = submodules/prodbox
	url = https://github.com/maxam2017/productive-box
[submodule "submodules/langbox"]
	path = submodules/langbox
	url = https://github.com/inokawa/lang-box
[submodule "submodules/githubstatsbox"]
	path = submodules/githubstatsbox
	url = https://github.com/bokub/github-stats-box
[submodule "submodules/chesscombox"]
	path = submodules/chesscombox
	url = https://github.com/sciencepal/chess-com-box-py
[submodule "submodules/leetcodeskillsbox"]
	path = submodules/leetcodeskillsbox
	url = https://github.com/tbeachill/leetcode-skills-box
[submodule "submodules/leetcodebox"]
	path = submodules/leetcodebox
	url = https://github.com/puiiyuen/leetcode-box
[submodule "submodules/activitybox"]
	path = submodules/activitybox
	url = https://github.com/JasonEtco/activity-box
[submodule "submodules/resume"]
	path = submodules/resume
	url = https://github.com/anishshobithps/resume
[submodule "submodules/activity-box"]
	path = submodules/activity-box
	url = https://github.com/JasonEtco/activity-box
[submodule "submodules/leetcode-box"]
	path = submodules/leetcode-box
	url = https://github.com/puiiyuen/leetcode-box
[submodule "submodules/leetcode-skills-box"]
	path = submodules/leetcode-skills-box
	url = https://github.com/tbeachill/leetcode-skills-box
[submodule "submodules/chess-com-box-py"]
	path = submodules/chess-com-box-py
	url = https://github.com/sciencepal/chess-com-box-py
[submodule "submodules/github-stats-box"]
	path = submodules/github-stats-box
	url = https://github.com/bokub/github-stats-box
[submodule "submodules/lang-box"]
	path = submodules/lang-box
	url = https://github.com/inokawa/lang-box
