[submodule "prodbox"]
	path = prodbox
	url = https://github.com/maxam2017/productive-box
[submodule "tool/prodbox"]
	path = tool/prodbox
	url = https://github.com/maxam2017/productive-box
[submodule "tool/langbox"]
	path = tool/langbox
	url = https://github.com/inokawa/lang-box
[submodule "tool/githubstatsbox"]
	path = tool/githubstatsbox
	url = https://github.com/bokub/github-stats-box
[submodule "tool/chesscombox"]
	path = tool/chesscombox
	url = https://github.com/sciencepal/chess-com-box-py
[submodule "tool/leetcodeskillsbox"]
	path = tool/leetcodeskillsbox
	url = https://github.com/tbeachill/leetcode-skills-box
[submodule "tool/leetcodebox"]
	path = tool/leetcodebox
	url = https://github.com/puiiyuen/leetcode-box
[submodule "tool/activitybox"]
	path = tool/activitybox
	url = https://github.com/JasonEtco/activity-box
